In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('car_fuel_efficiency.csv', delimiter=',' , header=0)

In [8]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [11]:
df.info

<bound method DataFrame.info of       engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                     170            3.0       159.0     3413.433759
1                     130            5.0        97.0     3149.664934
2                     170            NaN        78.0     3079.038997
3                     220            4.0         NaN     2542.392402
4                     210            1.0       140.0     3460.870990
...                   ...            ...         ...             ...
9699                  140            5.0       164.0     2981.107371
9700                  180            NaN       154.0     2439.525729
9701                  220            2.0       138.0     2583.471318
9702                  230            4.0       177.0     2905.527390
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year  origin fuel_type         drivetrain  \
0             17.7        2003  Europe  Gasoline    All-wheel drive
1             17.8        2007     USA  Gasoline  Front-wheel drive
2             15.1        2018  Europe  Gasoline  Front-wheel drive
3             20.2        2009     USA    Diesel    All-wheel drive
4             14.4        2009  Europe  Gasoline    All-wheel drive
...            ...         ...     ...       ...                ...
9699          17.3        2013  Europe    Diesel  Front-wheel drive
9700          15.0        2004     USA  Gasoline    All-wheel drive
9701          15.1        2008     USA    Diesel    All-wheel drive
9702          19.4        2011     USA    Diesel  Front-wheel drive
9703          14.7        2005    Asia    Diesel    All-wheel drive

      num_doors  fuel_efficiency_mpg
0           0.0            13.231729
1           0.0            13.688217
2           0.0            14.246341
3           2.0            16.912736
4           2.0            12.488369
...         ...                  ...
9699        NaN            15.101802
9700        0.0            17.962326
9701       -1.0            17.186587
9702        1.0            15.331551
9703       -1.0            14.884467

[9704 rows x 11 columns]>

In [12]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [ ]:
print(df['fuel_type'].nunique())

2

In [23]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [26]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [30]:
hp_median=df["horsepower"].median()
print('median before filling',hp_median)
most_frequent_value = df["horsepower"].quantile(0.75)
df["horsepower"].fillna(most_frequent_value, inplace=True)
print("median after filling with most frequent value",df["horsepower"].median())
if df["horsepower"].median() > hp_median:
    print("median has increased")
else:
    print("median has not increased")

median before filling 149.0
median after filling with most frequent value 152.0
median has increased

In [40]:
df_filt = df.loc[df['origin']=='Asia', ['vehicle_weight', 'model_year']].head(7)
X = np.array(df_filt)
print("Our Matrix X = ", X)
print("Shape of Matrix X = ", X.shape)
X_tr = X.T
XTX = X_tr.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(X_tr).dot(y)
print("Our vector w = ", w)
print("Sum of all elements of the result vector w = ", w.sum())

Our Matrix X =  [[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
Shape of Matrix X =  (7, 2)
Our vector w =  [0.01386421 0.5049067 ]
Sum of all elements of the result vector w =  0.5187709081074016